// Wide Screens
@include mediaXL{
    main{
        .lg-heading{
            font-size: 6rem;
        }
    }
    .projects{
        grid-template-columns: repeat(4,1fr);
    }
}

// Desktop and Laptops
@include mediaLg{
    main{
        .lg-heading{
            font-size: 6rem;
        }
    }
    .projects{
        grid-template-columns: repeat(3,1fr);
    }
    #skills{
        .skill-info{
            padding: 0rem;

            .skill-name{
                font-size: 1rem;
            }
            .skill-bar{
                width: 800px;
            }
        }
    }
}

//Tablets & Small Laptops
@include mediaMd{
    main{
        // align-items: center;
        text-align: center;

        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
            font-size: 4rem;
        }
    }
    ul.menu-nav,div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;

        &.show{
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav{
        height: 75vh;
        transform: translate3d(-100%,0,0);
    }
    .menu-branding{
        height: 25vh;
        transform: translate3d(100%,0,0);

        .portrait{
            width: 100px;
            height: 100px;
        }
    }

    .about-info{
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
    }
    .projects{
        grid-template-columns: repeat(2,1fr);
    }
    #skills{
        .skill-info{
            padding: 0rem;

            .skill-header{
                text-align: left;
                font-size: 2rem;
            }
            .img{
                width: 70px;
            }
            .skill-name{
                font-size: 1rem;
            }
            .skill-bar{
                width: 600px;
            }
        }
    }
}


// Smartphones
@include mediaSm{
    main{
        align-items: center;
        text-align: center;

        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
            font-size: 3rem;
        }
        h1{
            margin-top: 10vh;
            
        }
    }
    .projects{
        grid-template-columns: repeat(1,1fr);
    }

    .boxes{
        div{
            width: 400px;
            font-size: 1rem;
        }
    }
    #skills{
        .skill-info{
            padding: 0rem;

            .skill-header{
                text-align: left;
                font-size: 1.5rem;
            }

            .divider{
                margin-top: 0.4rem;
                width:60px;
                height: 2px;
            }

            .skill-row{
                flex-wrap: wrap;
                margin-bottom: 1rem;;
            }
            .img{
                width: 50px;
            }
            .skill-name{
                font-size: 1.5rem;
                width: 72%;
                text-align:left;
                margin-right: 0;
            }
            .skill-bar{
                width: 300px;

                .progress{
                    margin-right: 0.5rem;
                }
                .perc{
                    font-size: 9px;
                }
            }
        }
    }
}
